body {
  margin: 0;
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-align: center;
  margin: 15px;
}

.bold {
  font-weight: 800;
}

.fa-plus {
  background-color: #2980e9;
  color: white;
}

h1 {
  background-color: #2980e9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.eList {
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  overflow: hidden;
}

.eList:hover {
  overflow-y: scroll;
}

li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n) {
  background-color: #f7f7f7;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

.trash {
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover .plus {
  width: 40px;
  opacity: 1;
}

li:hover .repsLi {
  width: 40px;
  opacity: 1;
}

li:hover .plus {
  width: 40px;
  opacity: 1;
}

.plusspan {
  background-color: #2980e9;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.float-right {
  margin: 0;
}

.jumbotron {
  background-color: white;
}

input {
  padding: 0px !important;
  border: none;
  margin: 0px;
  height: 100%;
  color: #2980b9;
  width: 45px;
}

.repsLi {
  background-color: #c120d6;
  width: 40px;
  opacity: 1;
  margin-right: 0px;
  height: 40px;
  text-align: center;
  color: white;
  display: inline-block;
}

.compLi {
  margin-right: 52px;
  background-color: #20d62f;
  width: 0px;
  opacity: 0;
  height: 40px;
  text-align: center;
  color: white;
  display: inline-block;
  transition: 0.2s linear;
}

.compSp {
  opacity: 1;
  background-color: #20d62f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
